@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "qs";
	src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

body {
	font-family: "qs";
}
.glassmorphism {
	backdrop-filter: blur(3px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.125);
}
